.home-container {
    max-width: 400px;
    /* border: 2px solid white;
    background-color: red; */
    display: flexbox;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
}